.cartlist-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px 0;
    .card {
        box-shadow: 0px 0px 3px 0px #aaa;
        max-width: 250px;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 20px;
        transition: 350ms;
        &:hover {
            box-shadow: 5px 0px 12px 0px #aaa;
              .product__image {
                img {
                    transform: scale(1.1) rotate(-2deg);
                }
              }
        }
        .product__image {
            img {
                max-width: 100%;
                transition: 350ms;
            }
        }
        p {
            margin: 0 0 20px 0;
        }
        .product__name {
            text-align: center;
            margin: 30px 0;
            color: #e40026;
        }
        .whatsapp-btn {
            background-color: #25D366;
            width: fit-content;
            padding: 10px 20px;
            margin: auto;
            cursor: pointer;
            transition: 350ms;
            border: 4px solid #25D366;
            border-radius: 10px;
            &:hover {
                background-color: #fff;
                color: #25D366;
            }
        }
        .whatsapp-btn.call {
            background-color: #2196f3;
            border: 4px solid #2196f3;
            margin-top: 10px;
            &:hover {
                background-color: #fff;
                color: #2196f3;
            }
        }
    } 
}

h1 {
    color: #e40026;
    margin: 50px;
    position: relative;
    text-align: center;
    &::after{
        content: "";
        position: absolute;
        background-color: #000;
        width: 300px;
        height: 2px;
        left: 50%;
        transform: translateX(-50%);
        top: 50px;

    }
}

.active {
    background-color: #eee;

}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    li {
        transition: 350ms;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            background-color: #eee;
        }
    }
}